		<div class="row-fluid marketing">
		
		<repeat group="@items" value="{{@item}}">
			
			
			<div class="media well-large">
				<img class="media-object pull-left" src="{{@item.image}}" width=64 height=64>
				
				<div class="media-body">
					<h4 class="media-heading">{{@dict_pubdate,strtotime(@item.pubDate) | format}}: <a href="/{{@feedattr.slug}}/show/{{@item.slug}}" name="{{@item.slug}}"><span class="text-center">{{@item.title}}</span></a> </h4>
					<div class="">
						{{@item.description}}<br>
						<check if="{{@item.duration}}">Dauer: {{@item.duration}}</check>
					</div>
				</div>
			</div>
			
		</repeat>
		</div>
