
.osf_chaptertime {
    margin-left: 10px;
    font-family: monospace;
    font-weight: 300;
    font-size: 13px;
    margin-top: 2px;
    cursor: default !important;
}
.osf_chapterbox {
    margin-top: 7px;
    margin-bottom: 23px;
}
.osf_chaptertime,
.osf_chapter {
    display: inline-block;
    font-size: large;
    vertical-align: text-top;
}
div a:hover { text-decoration: underline }
.osf_amazon,
.osf_applecom,
.osf_appnet,
.osf_flattr,
.osf_flattrcom,
.osf_twitter,
.osf_wiki,
.osf_youtube,
.osf_youtubecom,
.osf_youtu.be,
.osf_glossary,
.osf_amazonde,
.osf_amazoncom,
.osf_video,
.osf_esaint,
.osf_dlrde,
.osf_githubcom,
.osf_imdbcom,
.osf_quote,
.osf_podcast {
    background-repeat: no-repeat;
    background-position: 100% center;
    padding-right: 18px;
    margin-right: 4px;
}
.osf_amazon,
.osf_applecom,
.osf_appnet,
.osf_flattr,
.osf_flattrcom,
.osf_twitter,
.osf_wiki,
.osf_youtube,
.osf_youtubecom,
.osf_glossary,
.osf_amazonde,
.osf_amazoncom,
.osf_video,
.osf_esaint,
.osf_dlrde,
.osf_githubcom,
.osf_imdbcom,
.osf_quote,
.osf_podcast { background-size: 16px 16px }
.osf_amazon,
.osf_amazonde,
.osf_amazoncom { background-image: url('./img/orig/amazon.png') }
.osf_flattrcom,
.osf_flattr { background-image: url('./img/orig/flattr.png') }
.osf_twitter { background-image: url('./img/orig/twitter.png') }
.osf_wiki,
.osf_glossary { background-image: url('./img/orig/wiki.png') }
.osf_youtube,
.osf_youtubecom,
.osf_youtu.be,
.osf_video { background-image: url('./img/orig/youtube.png') }
.osf_applecom { background-image: url('./img/orig/apple.png') }
.osf_appnet { background-image: url('./img/orig/appnet.png') }
.osf_esaint { background-image: url('./img/orig/esa.png') }
.osf_dlrde { background-image: url('./img/orig/dlr.png') }
.osf_githubcom { background-image: url('./img/orig/git.png') }
.osf_imdbcom { background-image: url('./img/orig/imdb.png') }
.osf_quote { background-image: url('./img/orig/quote.png') }
.osf_podcast { background-image: url('./img/orig/podcast.png') }
