#: Dies ist Konfigurationsdatei für die allgemeinen Daten des Feeds

title:
ConfigDemo Firtz

description:
Kurz und knackig

formats:
m4a mp3 opus

author:
John Doe

summary:
An dieser Stelle kann es ruhig auch etwas länger werden. Denke bitte unbedingt daran, dass alle Konfigurationsdateien UTF-8 sein müssen, sonst gibt's Ärger!

Zeilenumbrüche sind natürlich erlaubt. Spielt ruhig etwas damit rum.


#: Beim Bild könnt Ihr relative Pfade (zur Domain) als auch absolute Pfade angeben (http://...)
image:
/images/firtz.png


keywords:
hier eine, lange, kommagetrennte, stichwortliste

#: Hier findet Ihr die Kategorien, die Apple bei iTunes eingerichtet hat: http://www.apple.com/itunes/podcasts/specs.html#categories
category:
Society & Culture -> Philosophy
Comedy
Technology -> Podcasting

email:
deine@mailadresse

language:
de-DE

explicit:
no

#: kopiert Euch den iTunes-Link einfach aus... *hust* iTunes :D
itunes:
https://itunes.apple.com/de/podcast/schall-und-rauch/id601805504

#: hast Du einen Account bei disqus? Dann hier den forumshortname (oder wie das heißt) rein.
disqus:
firtz

#: flattr gibt's natürlich auch. Wirf hier deine FlattrID hin und entferne die Kommentierung!

flattrid:
eazyliving

licensename:
CC BY-SA 3.0

twitter:
eazyliving

#: Gebt hier einfach den Namen des Verzeichnisses an, in dem das Template steckt, das dieser Feed nutzen soll
template:
q2

#: Diese Variablen gelangen in ein globales Array, das dann im Template über @templatevars angesprochen werden kann
#: Jedes Template kann seine eigenen Variablen mitbringen. Schau dafür in der Dokumentation des Templates nach
#: Diese Werte hier haben Vorrang vor denen in einer evtl. template.cfg
template-vars:
color #666
light #aaa
dark #333