	<p>
	<{{substr(@item.audiofiles[@feedattr.audioformats[0]].type,0,5)}} id="player-{{@item.slug}}" preload="none">
		<repeat group="@item.audiofiles" value="@audio">
			<check if="{{substr(@audio.type,0,5)}}=='audio' || {{substr(@audio.type,0,5)}}=='video'">
			<source src="{{@audio.link}}" type="{{@audio.type}}"></source>
			</check>
		</repeat>
	</{{substr(@item.audiofiles[@feedattr.audioformats[0]].type,0,5)}}>

	<script>
		$(document).ready( function() {
			jQuery('#player-{{@item.slug}}').podlovewebplayer({
				title: '{{@item.title}}',
				subtitle: {{json_encode(nl2br(firtz_markdown(@item.description)))}},
				permalink: '{{@BASEURL}}{{@feedattr.slug}}/show/{{@item.slug}}',
				duration: '{{@item.duration}}',
				poster: '{{@item.image}}',
				<check if="{{@item.chapters}}">
chapters: {{json_encode(@item.chapters)}},
				</check>
				alwaysShowHours: true,
				startVolume: 0.8,
				preload: 'none',
				width: 'auto',
				summaryVisible: false,
				timecontrolsVisible: false,
				pluginPath: '../../pwp/static/',
				chaptersVisible: true	
			});
		});
	</script>
	</p>
