<!DOCTYPE html>
<html lang="{{ substr(@feedattr.language,0,2) }}">
  <head>
    <meta charset="utf-8">
    <title>{{@feedattr.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{@feedattr.description}}"/>
    <meta name="author" content="{{@feedattr.author}}"/>
	<check if="{{@feedattr.image}}"><meta property="og:image" content="{{@feedattr.image}}"/></check>
	<meta property="og:type" content="website" />
	<meta property="og:title" content="<check if="{{!@showpage}}"><true>{{@og.title}}</true><false>{{basename(@showpage,'.html')}}</false></check>"/>
	<meta property="og:url" content="<check if="{{!@showpage}}"><true>{{@og.url}}</true><false>{{@BASEURL}}{{@feedattr.slug}}/show/page/{{basename(@showpage)}}</false></check>"/>
	<meta property="og:site_name" content="{{@feedattr.title}}"/>
	<check if="{{@og.audio}}"><meta property="og:{{@og.audio.typename}}" content="{{@og.audio.url}}"/>
	<meta propertyp="og:{{@og.audio.typename}}:type" content="{{@og.audio.type}}"/>
	</check>
	
    <link href="{{@feedattr.sitecss}}" rel="stylesheet">
	
    <style type="text/css">
     body{padding-top:20px;padding-bottom:40px} a>h3,.homebut,a>h3:hover,a:hover,.homebut:hover{text-decoration:none !important}  .container-narrow{ margin:0 auto; max-width:700px} .container-narrow >hr{ margin:30px 0}  .jumbotron{ margin:30px 0; text-align:center} .jumbotron h1{ font-size:72px; line-height:1} .jumbotron .btn{ font-size:21px; padding:14px 24px}  .marketing{ margin:20px 0} .marketing p+h4{ margin-top:28px} 
    </style>
    <link href="{{@BASEURL}}css/bootstrap-responsive.min.css" rel="stylesheet">

	<link href="{{@BASEURL}}pwp/libs/mediaelement/build/mediaelementplayer.min.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="{{@BASEURL}}pwp/libs/pwpfont/css/fontello.css" rel="stylesheet" />
 
	<link href="{{@BASEURL}}pwp/podlove-web-player.css" rel="stylesheet" media="screen" type="text/css" />

	
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{@feedattr.image}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{@feedattr.image}}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{@feedattr.image}}">
    <link rel="apple-touch-icon-precomposed" href="{{@feedattr.image}}">
    <link rel="shortcut icon" href="./favicon.png">
	<script src="{{@BASEURL}}js/jquery.js"></script>

    <repeat group="{{glob('templates/head/*.html')}}" value="{{@template}}">
		<include href="{{'head/'.basename(@template)}}"/>
    </repeat>
  </head>

  <body>
	
    <div class="container-narrow">

      <div class="masthead">
		<ul class="nav nav-pills pull-right">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				{{@dict_subscribe}}
			<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<repeat group="@feedattr.audioformats" value="{{@format}}">
					<li><a href="{{@feedattr.baserel}}{{@format}}{{@extxml}}">{{@format}}</a></li>
				</repeat>
				<check if="{{@feedattr.itunes}}">
					<li><a href="{{@feedattr.itunes}}">iTunes</a></li>
				</check>
				<script type="text/javascript">
				if (navigator.userAgent.match(/iPhone|iPad|iPod/i)) document.write('<li><a href="{{str_replace('http://','podcast://',@feedattr.baserel)}}">Instacast</a></li>');
				</script>
			</ul>
			
		</li>
			
			<repeat group="{{glob('templates/pages/*',GLOB_ONLYDIR)}}" value="{{@dir}}">
				<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				{{basename(@dir)}}
				<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
				<repeat group="{{glob('templates/pages/'.basename(@dir).'/*.html')}}" value="{{@template}}">
					<li><a href="{{@BASEURL}}{{@feedattr.slug}}/show/page/{{basename(@dir)}}/{{basename(@template,'.html')}}{{@exthtml}}">{{basename(@template,'.html')}}</a></li>
				</repeat>
				</ul>
				</li>
			</repeat>
			<repeat group="{{glob('templates/pages/*.html')}}" value="{{@template}}">
				<li><a href="{{@BASEURL}}{{@feedattr.slug}}/show/page/{{basename(@template,'.html')}}{{@exthtml}}">{{basename(@template,'.html')}}</a></li>
			</repeat>
			<repeat group="{{glob('templates/header/*.html')}}" value="{{@template}}">
				<include href="{{'header/'.basename(@template)}}"/>
			</repeat>
			<check if="{{@feedattr.email}}"><li><a href="mailto:{{@feedattr.email}}">E-Mail</a></li></check>
			
        </ul>
        <h3><a class="homebut" href="{{@BASEURL}}{{@feedattr.slug}}/show/">{{@feedattr.title}}</a></h3>
      </div>
	
      <hr>
      <div class="jumbotron">
		<h1><img src="{{@feedattr.image}}" width=100  style="margin-right:20px;">{{@feedattr.title}}</h1>
        <p class="lead">{{@feedattr.description}}</p>
      </div>
	
    
	<hr>
		<check if="{{@page!=0}}">
			<div>
			<ul class="pager">
				<check if="{{@page>1}}">
					<li class="previous">
						<a href="{{@BASEURL}}{{@feedattr.slug}}/show/pager/{{@page-1}}">&larr; {{@dict_newer}}</a>
					</li>
				</check>
				<check if="{{@page<@maxpage}}">
					<li class="next">
						<a href="{{@BASEURL}}{{@feedattr.slug}}/show/pager/{{@page+1}}">&rarr; {{@dict_older}}</a>
					</li>
				</check>
			</ul>
			</div>
		</check>
		
		<div class="row-fluid marketing">
		<check if="{{!@showpage}}">
		<true>
		<repeat group="@items" value="{{@item}}">
			
			<a href="<check if="{{@singlepage==false}}">{{@BASEURL}}{{@feedattr.slug}}/show/{{@item.slug}}</check>" name="{{@item.slug}}"><h3 class="text-center">{{@item.title}}</h3></a>
			
			<h5 class="text-center">{{@dict_pubdate,strtotime(@item.pubDate) | format}}</h5>
			<check if="{{(trim(@item.article)!='')}}"><div class="well well-large">{{@item.article | raw}}</div></check>

			<check if="{{@item.noaudio==''}}">
			<div><include href="podlove-player.html"/></div>
			<div>
				<ul class="nav nav-pills pull-right">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							download
						<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
						<repeat group="{{@item.audiofiles}}" value="{{@audiofile}}" key="{{@audiotype}}">
							<li><a title="download {{@audiotype}} - size: {{ceil(@audiofile.length / 1048576)}} MByte" href="{{@audiofile.link}}">{{@audiotype}}</a></li>
						</repeat>
						</ul>
					</li>
				<check if="{{@feedattr.bitlove}}">
					<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						bitlove
					<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
					<repeat group="{{@feedattr.bitlove}}" value="{{@bitlove}}" key="{{@audiotype}}">
					<li><a title="bitlove torrent {{@audiotype}}" href="http://bitlove.org/{{@bitlove.user}}/{{@bitlove.feed}}/{{@item.slug}}.{{@audiotype}}.torrent">{{@audiotype}}</a></li>
					</repeat>
					
					</li>
				</check>
				</ul>
			</div>
			</check>
			<check if="{{@feedattr.flattrid}}">
				<iframe src="http://api.flattr.com/button/view/?user_id={{@feedattr.flattrid}}&amp;url={{@item.flattrlink | raw}}&amp;language={{@feedattr.flattrlanguage | raw}}&amp;category=audio&amp;title={{@item.flattrtitle | raw}}&amp;description={{@item.flattrdescription | raw}}&amp;tags={{@item.flattrkeywords | raw}}&amp;popout=0&amp;button=compact"
				class="FlattrButton" width="110" height="20" frameborder="0" scrolling="no" border="0" marginheight="0" marginwidth="0" allowtransparency="true">
				</iframe>
			</check>
			<div>
			<repeat group="{{glob('templates/episode/*.html')}}" value="{{@template}}">
				<include href="{{'episode/'.basename(@template)}}"/>
			</repeat>
			</div>
			<check if="{{@feedattr.disqus}}">
				<include href="disqus.html"/>
			</check>
			
			<hr>
			
			
		</repeat>
        </true>
		<false>
			<include href="{{@showpage}}"/>
		</false>
		</check>
		</div>
		
      <div class="footer">
        <p>{{@feedattr.author}}
		<check if="{{@feedattr.twitter}}">
			<span>| twitter: <a href="https://twitter.com/{{@feedattr.twitter}}">@{{@feedattr.twitter}}</a></span>
		</check>
		<check if="{{@feedattr.email}}">
			<span>| email: <a href="mailto:{{@feedattr.email}}">{{@feedattr.email}}</a></span>
		</check>
		<check if="{{@feedattr.licensename}}">
			<span>| {{@dict_license}}: <a href="{{@feedattr.licenseurl}}">{{@feedattr.licensename}}</a></span>
		</check>
		</p>
		<check if="{{@feedattr.flattrid}}">
			<iframe src="http://api.flattr.com/button/view/?user_id={{@feedattr.flattrid}}&amp;url={{@feedattr.flattrlink | raw}}&amp;language={{@feedattr.flattrlanguage | raw}}&amp;category=audio&amp;title={{@feedattr.flattrtitle | raw}}&amp;description={{@feedattr.flattrdescription | raw}}&amp;tags={{@feedattr.flattrkeywords | raw}}&amp;popout=0&amp;button=compact"
				class="FlattrButton" width="110" height="20" frameborder="0" scrolling="no" border="0" marginheight="0" marginwidth="0" allowtransparency="true">
			</iframe>
		</check>
		
		<repeat group="{{glob('templates/footer/*.html')}}" value="{{@template}}">
				<include href="{{'footer/'.basename(@template)}}"/>
		</repeat>
      </div>
	</div>

	<script src="{{@BASEURL}}js/bootstrap.min.js"></script>
	<script src="{{@BASEURL}}pwp/libs/html5shiv.js"></script>
    <script src="{{@BASEURL}}pwp/libs/mediaelement/build/mediaelement-and-player.min.js"></script>
    <script src="{{@BASEURL}}pwp/podlove-web-player.js"></script>
    
	<check if="{{@feedattr.disqus}}">
		<include href="disqus_multiple.js"/>
	</check>
	</body>
</html>
